.link-hover {
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.link-hover:hover {
    color: #bda1fc !important; /* tono morado más claro */
    color: #20c997 !important; /* tono verde más claro */
    text-decoration: underline;
}

.icon-footer {
    width: 30px !important;     
    height: auto;      
    margin-bottom: 10px;  
}